


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
    padding-right: .5rem;
    align-items: baseline;
    border-style: solid;
    border-width:  0rem 0rem .06rem 0rem;
    border-color: gray;
    padding-bottom: .4rem;

}

nav button{
    color: white;
    width: 8rem;
    height: 2.4rem;
    border-radius: 2rem;
    background-color: #0052ff;
    border-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-right: -4rem;


}
nav img{
     margin-bottom: -0.5rem;
    height: 1.5rem;
    width: 1rem;
}

.menulist{
    display: none;
}

.mobilemenu{
    display: flex;
    justify-content: left;
    margin-left: -1.4rem;

}

.mobilemenu ul{
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    font-size: 1rem;
    font-weight: 600;
    padding-top: .6rem;
}

.imgspan{
  display: none;
}







@media only screen and (min-width: 650px) {
    .mobilemenu{
        display: none;
    }

    .menulist{
        display: block;
    }

    .menulist ul{
        display: flex;
        gap: .5rem
    }


    .modal{
      width: 50%;
      height: 30vh;
      background-color: grey;
    }

    .imgspan{
      display: block;
    }


    .imgspan img{
      height: 0.8rem;
      width: 0.8rem;
    }
  

    .modalparent{
      display: flex;  
      justify-content: center; 
      margin-top: 1rem; 
    }

    .modal {
      border-radius: .5rem;
    }

    .modal img {
      height: 1.5rem;

    }

    .modalfirst{
      display: flex;
      justify-content: space-between;
    }

    .modalfirst h3{
      padding-left: 12rem;
    }

    .modalfirst img{
      margin-top: 1rem;
      padding-right: 1rem;

    }

}